<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <!--<link rel="stylesheet" type="text/css" href="Style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/login.css">
    </head>
<body>
<div class="form-container">
    <div class="user-img"></div>
    <ul class="list">
        <li><h2>Member Login</h2></li>
        <li><input type="text" name="Username" placeholder="Enter username here..."></li>
        <li><input type="password" name="Password" placeholder="Enter password here..."></li>
        <li><input type="button" name="Submit" value="Submit" ></li>
        <li>Forget Password?</li>
        </ul>
    </div>
</body>
</html>