<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <!--<link rel="stylesheet" type="text/css" href="Style.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/signup.css">
    </head>
<body>
<div class="form-container">
    <div class="user-img"></div>
    <ul class="list">
        <li><h4>Member Registration</h4></li>
        <li><input type="text" oninvalid="alert('You must fill firstname in the form!');" name="Firstname" placeholder="Enter firstname here..." required></li>
        <li><input type="text" name="Lastname" placeholder="Enter lastname here..."></li>
        <li><input type="date" name="bday" placeholder="Choose birthdate"></li>
        <li><input type="email" name="Email" placeholder="Enter emailid here..."></li>
        <li><input type="password" name="Password" placeholder="Enter password here..."></li>
        <li><input type="password" name="Password" placeholder="Re-type password here..."></li>
         <!-- Choose Genger:<br>
         <input type="radio" id="male" name="gender" value="male">Male
            <input type="radio" id="female" name="gender" value="female">Female
            <input type="radio" id="other" name="gender" value="other">Other -->
        
        <li><input type="button" name="Submit" value="Submit" ></li>
        </ul>
    </div>
</body>
</html>